* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-links {
    display: flex;
    justify-content: end;
}

ul {
    display: flex;
    position: relative;
    bottom: 55px;
    
}

ul li {
    list-style: none;
    margin: 10px;
    
}

a {
    text-decoration: none;
    color: #e5ff00;
}

body {
    background-image: url(https://img.goodfon.ru/original/5000x2813/3/90/iron-man-zheleznyy-chelovek-5795.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

a:hover {
    color: #d4a611;
}

.about-info {
    position: relative;
    top: 30vh;
    left: 70px;
    width: 300px;
    box-shadow: 0px 0px 0px ;

}

@font-face {
    font-family: binds;
    src: url(/Fonts/Canter\ Light.otf);
}

.about-desc {
    font-family: binds;
    color: #e5ff00;
}

.about-content {
    font-family: binds;
    color: #e5ff00;
}


button {
    width: 100px;
    height: 30px;
    border-radius: 50vh;
    background-color: rgb(0, 0, 0);
    position: relative;
    left: 150px;
    top: 20px;
}

.button2 {
    position: relative;
    right: 150px;
    bottom: 30px;
}

